<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.nit.beauty"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >

        <!-- 注册AppActivity -->
		<activity android:name="com.baidu.mobads.AppActivity" android:configChanges="keyboard|keyboardHidden|orientation" />
		<!-- 您从百度移动联盟网站获取的APPSID -->
		<meta-data android:name="BaiduMobAd_APP_ID" android:value="debug" /> 
		<!-- 您从百度移动联盟网站获取的计费名 -->
		<meta-data android:name="BaiduMobAd_APP_SEC" android:value="debug" />
        
        <!-- 您从百度网站获取的APP KEY -->
		<meta-data android:name="BaiduMobAd_STAT_ID" android:value="9328aa564a" />
		<!-- 渠道商编号 -->
		<meta-data android:name="BaiduMobAd_CHANNEL" android:value="Baidu Market" />

		<!-- 是否开启错误日志统计，默认为false -->
		<meta-data android:name="BaiduMobAd_EXCEPTION_LOG" android:value="true" />
		<!-- 日志发送策略，可选值：APP_START、ONCE_A_DAY、SET_TIME_INTERVAL，默认为APP_START -->
		<meta-data android:name="BaiduMobAd_SEND_STRATEGY" android:value="APP_START" />
		<!-- 日志发送策略 为SET_TIME_INTERVAL时，需设定时间间隔(取消下行注释)。取值为1-24的整数，默认为1 -->
		<!-- <meta-data android:name="BaiduMobAd_TIME_INTERVAL" android:value="1" />  -->
		<!-- 日志仅在wifi网络下发送，默认为false -->
		<meta-data android:name="BaiduMobAd_ONLY_WIFI" android:value="false" />
		<!-- 是否获取基站位置信息 ,默认为true-->
		<meta-data android:name="BaiduMobAd_CELL_LOCATION" android:value="true" />
		<!-- 是否获取GPS位置信息，默认为true -->
		<meta-data android:name="BaiduMobAd_GPS_LOCATION" android:value="true" />
		<!-- 是否获取WIFI位置信息，默认为true -->
		<meta-data android:name="BaiduMobAd_WIFI_LOCATION" android:value="true" />

        <activity
            android:name=".ui.LoadingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
                android:name=".ui.AddItemActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".ui.MainActivity"
                android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.BeautyActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.ImageListActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.BeautyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BeautyActivity" />
        </activity>
        <activity
            android:name=".ui.ImageGalleryActivity"
            android:parentActivityName=".ui.ImageListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ImageListActivity" />
        </activity>
        <activity
            android:name=".ui.CustomActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="Push_notification_test" >
        </activity>

        <!-- push service client -->
        <receiver android:name="cn.nit.beauty.PushMessageReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push service -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" />

        <meta-data
            android:name="api_key"
            android:value="6NxlGErC78G5tGB2aWPblquO" />
        <!-- push service end -->
    </application>

</manifest>