<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          android:installLocation="preferExternal"
    package="cn.nit.beauty">

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/BeautyTheme"
        android:name="BeautyApplication">



        <meta-data android:name="android.app.default_searchable" android:value="cn.nit.beauty.ui.BeautyActivity" />

        <meta-data android:name="UMENG_APPKEY" android:value="548fe31dfd98c542620004d2"/>

        <meta-data android:name="UMENG_MESSAGE_SECRET" android:value="8f25263b3710dbf4345aa0045c8daa51" />

        <meta-data android:name="UMENG_CHANNEL" android:value="360" />

        <meta-data android:name="TESTIN_APPKEY" android:value="494059efa57220eb8321f4737d48ba3f"/>

        <meta-data android:name="TESTIN_CHANNEL" android:value="360"/>

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BeautyTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/BeautyTheme.NoTitleBar" >

        </activity>


        <activity
            android:name=".ui.BeautyActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.MainActivity" >

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name=".ui.ImageListActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.BeautyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BeautyActivity" />
        </activity>
        <activity
            android:name=".ui.ImageGalleryActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".ui.ImageListActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ImageListActivity" />
        </activity>
        <activity
                android:name=".ui.SettingActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".ui.MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.MainActivity" />
        </activity>
        <activity
                android:name=".ui.UserCenterActivity"
                android:launchMode="singleTask"
                android:parentActivityName=".ui.MainActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.MainActivity" />
        </activity>
        <activity
                android:name=".ui.VipProductActivity"
                android:parentActivityName=".ui.UserCenterActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.UserCenterActivity" />
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:label="用户登录">
        </activity>

        <activity
                android:name=".ui.InputActivity">
        </activity>

        <activity
                android:name=".wxapi.WXEntryActivity"
                android:theme="@android:style/Theme.Dialog"
                android:exported="true" />

        <activity
            android:name=".ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BeautyTheme.NoTitleBar"
            android:windowSoftInputMode="stateVisible">
        </activity>

        <activity
                android:name=".ui.UserSettingsActivity"
                android:label="用户设置"
                android:parentActivityName=".ui.UserCenterActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.UserCenterActivity" />>
        </activity>

        <activity
                android:name=".ui.HelpActivity"
                android:label="使用指南"
                android:parentActivityName=".ui.SettingActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.SettingActivity" />>
        </activity>

        <activity
                android:name=".ui.AboutActivity"
                android:label="关于"
                android:parentActivityName=".ui.SettingActivity" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.SettingActivity" />>
        </activity>

        <activity
        android:name="com.alipay.sdk.app.H5PayActivity"
        android:configChanges="orientation|keyboardHidden|navigation"
        android:exported="false"
        android:screenOrientation="behind" >
    </activity>
    <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
    </activity>

        <activity
                android:name="com.tencent.tauth.AuthActivity"
                android:noHistory="true"
                android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="1102386164" />
            </intent-filter>
        </activity>

    <activity android:name="com.tencent.connect.common.AssistActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                />


        <activity
                android:name="cn.smssdk.SMSSDKUIShell"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
                android:name="cn.sharesdk.framework.ShareSDKUIShell"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
                android:name="com.umeng.update.net.DownloadingService"
                android:process=":DownloadingService" >
        </service>
        <activity
                android:name="com.umeng.update.UpdateDialogActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <activity
                android:name="com.umeng.fb.ConversationActivity"
                android:label="@string/umeng_fb_title"
                android:launchMode="singleTop"/>


        <receiver
                android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
                android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

            <!--【可选】根据需要添加-->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="cn.nit.beauty.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>
        <service
                android:name="com.umeng.message.UmengService"
                android:exported="true"
                android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="cn.nit.beauty.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="cn.nit.beauty.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
                android:name="org.android.agoo.service.ElectionService"
                android:exported="true"
                android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />


        <service
                android:name="com.octo.android.robospice.GsonSpringAndroidSpiceService"
                android:exported="false" />

    </application>

</manifest>